body {
  font-size: 90%;
  font-weight: 50%;
  --font-sans: 'Geist', 'Geist Fallback' !important;
  --font-mono: 'Geist Mono', 'Geist Mono Fallback' !important;
}

.cursor1 {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.exp-text {
  font-weight: bolder;
  font-size: 1.1em;
}

.nav-tabs {
    --bs-nav-tabs-border-color: var(--foreground);
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-active-color: var(--foreground);
    --bs-nav-tabs-link-active-border-color: var(--foreground) var(--foreground) var(--bs-body-bg);
}
.nav-link {
    color: var(--background);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--foreground);
    background-color: var(--background);
    border-color: var(--foreground);
    border-bottom: none !important;
}
.card-body {
    color: var(--foreground);
}
.card {
    color: var(--foreground);
    border: var(--bs-card-border-width) solid var(--foreground);
    background-color: var(--background);
}
.border-bottom {
    border-color: var(--foreground) !important;
}

.file-info {
    color: white;
    mix-blend-mode: difference;
    /* font-size: small; */
    font-family: "Courier New", Courier, monospace !important;
}

.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative !important;
  overflow: hidden !important;
  -webkit-transition-property: height, visibility !important;
  transition-property: height, visibility !important;
  -webkit-transition-duration: 0.35s !important;
  transition-duration: 0.35s !important;
  -webkit-transition-timing-function: ease !important;
  transition-timing-function: ease !important;
}
.collapsing.width {
  -webkit-transition-property: width, visibility !important;
  transition-property: width, visibility !important;
  width: 0;
  height: auto;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}